html {
    background: url("../images/background-stock1.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #eeeeee;
}

html,
body {
    background-color: rgba(0, 0, 0, 0.1);
    position: absolute;
    bottom: 0;
    top: 0px;
    right: 0px;
}

.error {
    -webkit-text-fill-color: transparent;
}

.container {
    min-height: 100%;
}

.stocks {
    width: 100%;
    background-color: rgba(29, 185, 81, 0.9);
    padding: 3%;
    border-radius: 30px;
}

.stock {
    background-color: rgba(29, 185, 159, 0.9);
    padding: 2%;
    margin-top: none;
    border-radius: 30px;
}

.stocks h1 {
    text-align: center
}

.stock h1 {
    border-radius: 15px;
    background-color: #eeeeee;
    color: #000000;
    text-align: center;
}

.title {
    text-decoration: underline;
    border-radius: 20px;
    background-color: #eeeeee;
    color: #000000;
    text-align: center;
}

.bg-primary {
    background-color: rgba(0, 77, 165, 0.9);
}

.bg-secondary {
    background-color: rgba(49, 49, 49, 0.9);
}

.stock img {
    height: 15%;
    width: 15%;
}
