{% extends 'base.html' %}
{% block app_content %}
<h1 class = "info">Day {{ player['day'] }} | Money:${{ player['money'] }} | <a href="http://127.0.0.1:5000/location/{{nextLoc}}"><button type="button" class="btn btn-primary right">Next day</button></a></h1>
    <div class="stocks" style="text-align: centre;">
        {% for item in items %}
            <div class="stock col-md-offset-0 col-md-6">
                <h1 style="text-align: center;">{{ item["name"] }}</h1>
                <img src="{{item["logo"]}}" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="image of {{ item["name"] }} (check connection)">
                <span style="display: inline-block; padding: 1%;">
                    <h3 style="display: block;">Price: ${{ item["price"] }}</h3>
                    <h3 style="display: block;">Amount: {{ item["quantity"] }}</h3>
                    <button style="display: inline-block;" type="button" onclick="nextday()" class="btn btn-danger">sell</button>
                    <button type="button" class="btn btn-success">buy</button>
                </span>
            </div>
        {% endfor %}
    </div>
{% endblock %}
