{% extends 'base.html' %}
{% block app_content %}

<h1 class = "info">Day {{ session['day'] }} | Money:${{ session['money'] }} | <a id="nextday" onclick="update_button()" href="http://127.0.0.1:5000/location/{{nextLoc}}?changes="><button type="button" class="btn btn-primary right">Next day</button></a></h1>

    <div class="stocks" style="text-align: centre;">
        {# add all the items #}
        {% for item in session['items'] %}
            <div class="stock col-md-offset-0 col-md-6">
                <h1 style="text-align: center;">{{ item["name"] }}</h1>
                <img src="{{item["logo"]}}" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="image of {{ item["name"] }} (check connection)">
                <span style="display: inline-block; padding: 1%;">
                    <h3 style="display: block;">Price: ${{ item["price"] }}</h3>
                    <h3 style="display: block;">Amount: {{ item["quantity"] }}</h3>
                    <button style="display: inline-block;" type="button" onclick="sell()" class="btn btn-danger">sell</button>
                    <button type="button" class="btn btn-success" onclick="buy()">buy</button>
                </span>
            </div>
        {% endfor %}
    </div>
{% endblock %}
