{% extends 'base.html' %}
{% block app_content %}

    <br><br><br><br>
    <div class="stocks" style="text-align: centre;">
        <h1>Stocks</h1>
        {% for company in comps %}
            <div class="stock">
                <h1 style="text-align: center;">{{ company["name"] }}</h1>
                <img src="{{ company["logo"] }}" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="company logo">
                <span style="display: inline-block; padding: 1%;">
                    <h3 style="display: block;">Price: ${{ company["price"] }}</h3>
                    <button style="display: inline-block;" type="button" class="btn btn-danger">sell</button>
                    <button type="button" class="btn btn-success">buy</button>
                </span>
            </div>
            <br>
        {% endfor %}
    </div>
{% endblock %}
